[submodule "my_submodule"]
	path = my_submodule
	url = https://github.com/deepakrana123/submodule.git
	branch = stable
[submodule "my_secondsubmodule"]
	path = my_secondsubmodule
	url = https://github.com/deepakrana123/subdemo1.git
